.internship-header
  margin-top: 96px
  h1.clear-text
    color: $orange-color-4
    font-size: 100px
    font-weight: normal
    position: absolute
    top: 160px
    font-family: helvetica
    letter-spacing: 5px
    p
      line-height: 140%
  h1.shadow-text
    font-size: 120px
    color: $light-gray-color
    font-weight: bold
    p
      line-height: 120%


.gray-background
  background-color: $light-gray-color

.separator
  height: 10px

.subtitle
  color: $orange-color-4
  font-weight: bold

.complete
  height: 100%

.logo-container
  text-align: right
  @media(max-width: 1024px)
    text-align: center

li
  list-style-type: none

.right
  text-align: right

.button
  border: 3px solid $dark-blue-color-3
  background: none
  font-weight: bold
  padding: 6px 10px
  a
    color: $dark-blue-color-3
.text-body
  padding-left: 15px
  color: $gray-dark-color
  font-size: 20px
  line-height: 120%
  text-align: justify

.center
  text-align: center

.goals
  @media(min-width: 1024px)
    display: inline-flex
  margin-bottom: 80px
  .goals-description
    h1
      font-size: 4em
    margin-right: 15px
    padding: 30px

    p
      padding-left: 0
      text-align: left

    .goals-image

.how-to-apply
  h1, h2
    color: $yelowish-color
  h1
    font-size: 5em
  h2
    margin-top: 20px
    font-size: 2em
  ul
    margin-left: 0
  li
    margin-top: 20px
    display: inline-flex
    span
      margin-left: 0.5em
      display: block
  li:before
    content: '\25FB'

.convocatoria
  p
    color: $dark-blue-color-3
    font-size: 28px
    font-weight: bold
    line-height: 29px

  @media(min-width: 500px)
    display: flex
    align-items: center

  @media(max-width: 500px)
    div
      text-align: center
    img
      height: 150px

.programas
  margin: 20px

  img
    background-color: $light-gray-color
    border: 3px solid white
